.wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 15px;
    margin-left: auto;
    margin-right: auto;
    background-color: #e7e7e7;
    margin-top: 50px;
    width: 700px;
    text-align: center;
}

.customBtn {
    background-color: orange;
}
